.home {
  padding: 2rem;
}

.home h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.not-found {
  padding: 2rem;
}

.not-found h1 {
  font-size: 2.5em;
  margin-bottom: 1rem;
  color: #ff4444;
}

.not-found a {
  color: #646cff;
  text-decoration: none;
  font-weight: 500;
}

.not-found a:hover {
  color: #535bf2;
}

